
.caption-admin {
    text-align: center;
}

.header-admin {
    display: flex;
    padding-bottom: 40px;
}

.menu-admin {
    padding-top: 15px;
    margin: auto;
}

.menu-admin li {
    font-size: 17px;
    margin-right: 20px;
    display: inline;
}


/* add-edit-products page */
.add-product {
    font-size: 17px;
}

.add-products-body {
    display: flex;
    margin-top: 40px;
}

.button {
    width: 102px;
    margin: auto;
}

.add-product-form {
    margin: auto;
    width: 500px;
}

.textarea-add-product {
    resize: none;
}

.delete-tag {
    cursor: pointer;
}

.delete-size {
    cursor: pointer;
}

.parent-block {
    margin-bottom: 100px;
    display: flex;
}

.btn-hor-center {
    margin-left: auto;
    margin-right: auto;
}

.admin-tag {
    display: inline-block;
    border: none;
    border-radius: 6px;

    margin: 3px;
    padding: 5px;
    background-color: #424242;
    color: white;
}

.btn-tag {
    padding-top: 20px;
    margin-left: 20px;
}

.form-admin textarea {
    resize: none;
}

.img-edit-product img {
    width: 250px;
}

.img-edit-product div {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

/* /add-edit-products page */

.block-parent-center {
    display: flex;
}

.center-button {
    margin-left: auto;
    margin-right: auto;
}

.category-container {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* categories modal */
#modal_form {
    width: 300px;
    height: 110px;
    border: none;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#modal_form_delete_product {
    width: 255px;
    height: 80px;
    border: none;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 0px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.2;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
/* /categories modal */

/* order details */
.back-to-list {
    text-align: center;
    margin-bottom: 30px;
}

.status-block {
    margin-bottom: 100px;
}
/* /order details */

/* orders */
#filter-label {
    padding-top: 5px;
    padding-left: 75px;
}

#filter-select-style {
    margin-right: 10px;
}
/* /orders */

.label-brand {
    margin-top: 5px;
    margin-left: 20px;
}