ul.hor-nav {
    margin: 0;
    padding: 0;
}
ul.hor-nav li {
    display: inline;
    margin-right: 4px;
    padding: 2px;
}

a.test {
    text-decoration: none;
}

.active a {
    color: #825a5b;
}

a:hover {
    color: #825a5b;
}

.reviews-crud {
    color: #887f66;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.write-subreview {
    float: right;
    margin-top: 10px;
}

.write-review {
    margin-top: 10px;
    width: 100%;
    background-color: #816263;
    color: white;
}

.write-review:hover {
    color: white;
    background-color: #7f5253;
}

.remove-position {
    padding-right: 40px;
}


/* cart */
.cart-qty-input {
    text-align: center;
    width: 30px;
    border: none;
    background-color: #e2e0e0;
    color: #5b5b5b;
    border-radius: 5px;
    margin-left: 5px;
}

.cart-price {
    padding-top: 70px;
    font-size: 15px;
}

.name-product-caption {
    margin-top: -30px;
}

.test {
    float: left;
    padding: 10px 20px 10px 10px;
}

.cart-image {
    height: 180px;
}

#exit-modal-order {
    text-align: right;
}

#modal-order-close {
    margin-right: 10px;
}

.parent-flex {
    display: flex;
}

.button-confirm-order {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.confirm-order-btn a {
    background-color: #816263;
    color: white;
}

.confirm-order-btn a:hover {
    background-color: black;
    color: white;
}

.confirm-order-btn {
    text-align: center;
}

#modal-confirm-order {
    width: 500px;
    border-radius: 5px;
    border: none;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -250px;
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}

#modal-confirm-user {
    height: 182px;
}

#modal-confirm-guest {
    height: 300px;
}

/* end cart */

/* products */
.down-block {
    display: flex;
    margin-bottom: 20px;
}

.button-to-cart {
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #816263;
    width: 100px;
    height: 40px;
}

.button-to-cart:hover {
    background-color: #171111;
}

.transition {
    transition: 0.5s;
}

.button-cart {
    margin: auto;
}
/* end products */

/* reviews */
.img-review {
    width: 70px;
}

.review-left {
    float: left;
    margin-right: 10px;
}

.username-review {
    text-align: center;
}

.text-review {
    min-height: 85px;
}
/* end reviews */

.center-subheader {
    padding-top: 2px;
}

.pagination-products {
    float: right;
    margin-bottom: 5px;
}

.caption-category {
    margin-top: -28px;
    text-align: center;
}

.border-dropdown-menu {
    min-width: 100px;
    padding: 10px;
}

.block-category {
    margin-top: 5px;
    margin-bottom: 10px;
}

#modal-mailing-list-res-true {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 18px;
    width: 160px;
    height: 57px;
}

#modal-mailing-list-res-false {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 7px;
    width: 160px;
    height: 57px;
}

#add-to-cart-message {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 17px 7px 7px 7px;
    width: 160px;
    height: 57px;
    text-align: center;
}