ul.hor-nav {
    margin: 0;
    padding: 0;
}
ul.hor-nav li {
    display: inline;
    margin-right: 4px;
    padding: 2px;
}

a.test {
    text-decoration: none;
}

.active a {
    color: #825a5b;
}

a:hover {
    color: #825a5b;
}

.reviews-crud {
    color: #887f66;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.write-subreview {
    float: right;
    margin-top: 10px;
}

.write-review {
    margin-top: 10px;
    width: 100%;
    background-color: #816263;
    color: white;
}

.write-review:hover {
    color: white;
    background-color: #7f5253;
}

.remove-position {
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    .caption-footer-point {
        text-align: center;
    }

    .footer-point {
        width: 100%;
    }

    .footer-point > li {
        display: flex;
    }

    .footer-point > li > a {
        margin: auto;
    }

    .about-us-foot {
        width: 100%;
    }

    #about-us-text {
        color: #B3B3B3; 
        width: 100%; 
        text-align: center;
    }
}

.button-confirm-order {
    background-color: #816263;
    color: white;
    margin: auto auto 20px auto;
    transition: 0.5s;
}

.button-confirm-order:hover {
    background-color: black;
    color: white;
}

#about-us-text {
    color: #B3B3B3; 
}

/* login */
@media screen and (max-width: 600px) {
    #modal-forgot-password {
        border-radius: 5px;
        border: none;
        background: #fff;
        position: fixed;
        display: none;
        opacity: 0; 
        z-index: 5;
        padding: 20px 10px 0 10px;
        width: 90%;
        left: 5%; 
    }
}


@media screen and (min-width: 601px) {
    #modal-forgot-password {
        border-radius: 5px;
        border: none;
        background: #fff;
        position: fixed;
        display: none;
        opacity: 0; 
        z-index: 5;
        padding: 20px 10px 0 10px;
        width: 500px;
        margin-left: -250px;
        left: 50%; 
    }
}

.flex {
    display: flex;
}

.submit-button {
    margin: auto auto 15px auto;
    background-color: #816263;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.submit-button:hover {
    background-color: black;
    color: white;
}
/* end login */

/* account */

@media screen and (max-width: 600px) {
    #modal-change-password {
        border-radius: 5px;
        border: none;
        background: #fff;
        position: fixed;
        display: none;
        opacity: 0; 
        z-index: 5;
        padding: 20px 10px 0 10px;
        width: 90%;
        left: 5%; 
    }
}


@media screen and (min-width: 601px) {
    #modal-change-password {
        border-radius: 5px;
        border: none;
        background: #fff;
        position: fixed;
        display: none;
        opacity: 0; 
        z-index: 5;
        padding: 20px 10px 0 10px;
        width: 500px;
        margin-left: -250px;
        left: 50%; 
    }
}

/* and account */

/* cart */


.position-block {
    background-color: #f5f5f5;
    margin: 5px;
    padding: 5px;
}

.list {
    list-style-type: none;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .normallize {
        margin-left: 30px;
    }
}

@media screen and (max-width: 470px) and (min-width: 320px) {
    .normallize {
        margin-left: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 390px) {
    .left-img {
        margin-left: 30px;
    }
}

@media screen and (min-width: 380px) and (max-width: 395px) {
    .cart-qty-input {
        margin-left: 7px;
    }
}

@media screen and (max-width: 992px) {
    .close1 {
        top: 18px;
    }
}

@media screen and (min-width: 993px) {
    .close1 {
        top: 20px;
    }
}

@media screen and (min-width: 381px) {
    .price-indentation {
        margin-top: 45px;
    }
}

.select-size {
    margin-left: 7px;
}

.normallize {
    left: 100px;
}

.item-cart-block {
    padding-left: 0px; 
    padding-right: 0px;
}

.remove {
    z-index: 2;
    margin-right: 5px;
}

.name-product-in-cart {
    color: #816263;
}


.name-product-in-cart:hover {
    color: #816263;
}

.inline-size-block div {
    display: inline;
}



.cart-qty-input {
    text-align: center;
    width: 30px;
    border: none;
    background-color: #e2e0e0;
    color: #5b5b5b;
    border-radius: 5px;
    margin-left: 5px;
}

.cart-price {
    padding-top: 70px;
    font-size: 15px;
}

.name-product-caption {
    margin-top: -30px;
}

.test {
    float: left;
    padding: 10px 20px 10px 10px;
}

.cart-image {
    height: 180px;
}

#exit-modal-order {
    text-align: right;
}

#modal-order-close {
    margin-right: 10px;
}

.parent-flex {
    display: flex;
}

.button-confirm-order {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.confirm-order-btn a {
    margin-top: 15px;
    background-color: #816263;
    color: white;
}

.confirm-order-btn a:hover {
    background-color: black;
    color: white;
}

.confirm-order-btn {
    text-align: center;
}

#modal-confirm-order {
    border-radius: 5px;
    border: none;
    background: #fff;
    position: fixed;
    margin-top: -200px;
    display: none;
    opacity: 0; 
    z-index: 5;
    padding: 20px 10px 0 10px;
    width: 90%;
    left: 5%; 
}

#modal-confirm-user {
    height: 182px;
}

#modal-confirm-guest {
    height: 300px;
}

/* end cart */

/* products */
.down-block {
    display: flex;
    margin-bottom: 20px;
}

.button-to-cart {
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #816263;
    width: 100px;
    height: 40px;
}

.button-to-cart:hover {
    background-color: #171111;
}

.transition {
    transition: 0.5s;
}

.button-cart {
    margin: auto;
}
/* end products */

/* reviews */
.img-review {
    width: 70px;
}

.review-left {
    float: left;
    margin-right: 10px;
}

.username-review {
    text-align: center;
}

.text-review {
    min-height: 85px;
}
/* end reviews */

.center-subheader {
    padding-top: 2px;
}

.pagination-products {
    float: right;
    margin-bottom: 5px;
}

.caption-category {
    margin-top: -28px;
    text-align: center;
}

.border-dropdown-menu {
    min-width: 100px;
    padding: 10px;
}

.block-category {
    margin-top: 5px;
    margin-bottom: 10px;
}

#modal-mailing-list-res-true {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 18px;
    width: 160px;
    height: 57px;
}

#modal-mailing-list-res-false {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 7px;
    width: 160px;
    height: 57px;
}

#add-to-cart-message {
    display: none;
    border-radius: 3px;
    background: #816263;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    opacity: 0;
    z-index: 5;
    padding: 17px 7px 7px 7px;
    width: 160px;
    height: 57px;
    text-align: center;
}
